%h3.header Read Something

.row-fluid
  = form_tag '/', method: 'POST', multipart: true do
    = field_set_tag do
      %input{ type: 'file', id: 'file', name: 'file', placeholder: 'An ePub file here' }
      %textarea{ name: 'text', placeholder: "paste the next chapter here..." }= @text
      %br
      %button{ type: 'submit', class: 'btn' } Read

.row-fluid
  %h5.lead= "There are #{@sorted.size} words in total."

  %ul.words.span3
    - @sorted.each do |word, occurrence_count|
      - status = Word.where(word: word).first.try(:status)
      %li.word.clearfix{ class: "rt-#{word} #{status}" }
        %span.count= occurrence_count
        %span.text= word
        %span.actions
          %i.favorite.icon-heart
          %i.ignore.icon-remove

  %span.definition.span8
