.row-fluid
  .span7#left-pane
    %h3 Read Something
    %h5 To start, either uploading an EPUB file or paste the text you want to process to the box.
    = form_tag '/', method: 'POST', multipart: true do
      %div
        = file_field_tag :file
      %div
        = text_area_tag :text, @text, class: 'span12', rows: 20
      %div
        = button_tag :submit, class: 'btn btn-primary' do
          Read

    %span.definition.span8

    %footer
      .row-fluid
        .span12 &copy; hungryzi 2012

  .span5#right-pane
    = render 'shared/nav'

    %h5= "There are #{@sorted.size} words in total."

    %ul.unstyled.words
      - @sorted.each do |word, occurrence_count|
        - status = @word_status[word.to_s]
        - unless status == Word::IGNORED
          %li.word.clearfix{ class: "rt-#{word} #{status}" }
            .span2.count= occurrence_count
            %span.text= word
            %span.actions.pull-right
              %button.btn.favorite
                %i.icon-heart
              %button.btn.ignore
                %i.icon-remove


